
.tabs-example {
    margin-top: -45px !important;
    position: absolute;
  }
  
  [role="tab"][aria-selected="true"] {
    color: #0084ff !important;
    text-decoration: underline;
  }
  
  [role="tab"] {
    background: #fff !important;
    color: gray !important;
  }
  
  .customPopup .leaflet-popup-content-wrapper,
  .customPopup .leaflet-popup-tip {
    background: #000;
    color: #fff;
  }
  
  .customPopup a {
    color: salmon;
    text-decoration: none;
  }
  
  .customPopup a:hover {
    text-decoration: underline;
  }
  
  .description {
      width: 400px;
      font-size: 14px;
      color: #333;
      padding: 10px 14px;
      background-color: hsla(0, 0%, 100%, 0.7);
      box-shadow: 0 0 15px rgb(0 0 0 / 20%);
      border-radius: 5px;
      line-height: 120%;
      border: 1px solid grey;
    }
/* Estilos para las pestañas */
#tabs {
  width: 100%;
  max-width: 600px;
}

#tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#tabs ul li {
  flex: 1;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

#tabs ul li:hover {
  background-color: #ddd;
}

#tabs div {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  background-color: #f4f4f4;
}

#tabs div:first-child {
  display: block;
}

/* Estilos para los iframes */
iframe {
  display: block;
  margin: 0 auto;
}    